{% extends "base.html" %}

{% block header_content %}
    <title>Smart Currency Exchange</title>

{% endblock %}

{% block body_content %}
    {% include "nav.html" %}

    <script>
    $('document').ready(function(){

        $('#home-nav').addClass('active');

    }); // end ready function

    </script>


    <div class="homepage-row-1">
        <div class="homepage-headline-spacer"></div>
        <div class="homepage-headline">
            <h1>Smart Currency Exchange</h1>
            <p>Currency analytic tool for making smart currency trade predictions.</p>
            <br>
            <button type="button" class="btn btn-danger btn-lg" onclick="document.getElementById('registration-modal').style.display='block';signUpFast();">Sign up today</button>
        </div>
    </div>

    <div class="homepage-row-2">
        <div class="col-sm-3 col-xs-3 eur-usd price-col">
            <div class="price-container">
                <div class="price-header">EUR/USD</div>
                <div class="price-value">${{ eur_usd_rate }}</div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-3 gbp-usd price-col">
            <div class="price-container">
                <div class="price-header">GBP/USD</div>
                <div class="price-value">${{ gbp_usd_rate }}</div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-3 inr-usd price-col">
            <div class="price-container">
                <div class="price-header">INR/USD</div>
                <div class="price-value">₹{{ inr_usd_rate }}</div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-3 jpy-usd price-col">
            <div class="price-container">
                <div class="price-header">JPY/USD</div>
                <div class="price-value">¥{{ jpy_usd_rate }}</div>
            </div>
        </div>
    </div>

    <div class="homepage-row-3" id="about-us">
        <br><br>
        <div class="header-row"><h2>Why Smart Currency Exchange?</h2></div>
        <div class="col-sm-4 row-3-header">
            <span class="glyphicon glyphicon-refresh"></span>
            <br><br>
            <h3>Real Time Data</h3>
            <p>Foreign currency trading values are updated daily to ensure the most current values possible. Values are refeshed the moment you open a page.</p>
        </div>
        <div class="col-sm-4 row-3-header">
            <span class="glyphicon glyphicon-cog"></span>
            <br><br>
            <h3>Customizeable Predictions</h3>
            <p>Choose any amount of data points that you desire. Control various parameters of the LSTM neural network such as batch size, sequence length, epochs, and more.</p>
        </div>
        <div class="col-sm-4 row-3-header">
            <span class="glyphicon glyphicon-floppy-saved"></span>
            <br><br>
            <h3>Keep track of your analytics</h3>
            <p>Save your predictions so that they can easily be recovered next time. Generate a prediction, save it, and then log in later to see how accurate it was.</p>
        </div>
    </div>

{% endblock %}

{% block footer_content %}
    {% include "registration.html" %}
{% endblock %}