<div id='cssmenu'>
<ul>
   <li class='active nav-li'><a href='/'><span>Home</span></a></li>
   <li class='has-sub nav-li'><a href='#'><span>About</span></a></li>
   <!--<li class='has-sub nav-li'><a href='#'><span>Current Rates</span></a></li>-->

   {% if session['username'] %}
      <li class='last nav-li'><a href="#" style="width:auto;"><span>My Profile</span></a></li>
      <li class='last nav-li'><a href="/currency_tracker" style="width:auto;"><span>Currency Tracker</span></a></li>
      <li class="last welcome-nav"><span class="welcome-nav-text">Welcome, {{ session['username'] }}!</span>&nbsp;&nbsp;<a href="/logout" class="logout-nav-text">(logout)</a></li>
   {% else %}
      <li class='has-sub nav-li' ><a onclick="document.getElementById('registration-modal').style.display='block';signInFast();" style="width:auto;"><span>Sign In</span></a></li>
      <li class='last nav-li'><a onclick="document.getElementById('registration-modal').style.display='block';signUpFast();" style="width:auto;"><span>Sign Up</span></a></li>
   {% endif %}
</ul>
</div>